<p>parameters works!</p>
<div *ngIf="parameters.length > 0; else noData">
    <h2>Electrical Machine Parameters</h2>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Category</th>
          <th>Value</th>
          <th>Unit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let parameter of parameters">
          <td>{{ parameter.name }}</td>
          <td>{{ parameter.category }}</td> 
          <td>{{ parameter.value }}</td>
          <td>{{ parameter.unit }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <ng-template #noData>
    <p>Loading parameters...</p>
  </ng-template>